
   
    div.content img{
        margin:1.6%;
        border:3px solid #ccc;
        width: 29%;
        height: 20%;
    }
    div.content img:hover{
        border: 3px solid #888;
    }
 
   
    
    div.img{
        margin: 3.5%;
        float: left;
        width: 18%;
        height: 9%;
    }
   
    div.img img{
        width: 100%;
        height: 100%;
    }

    .body{
        width:80%;
        overflow: auto;
        margin: auto
    }

    div.add img{
        margin:3%;
        float: right;
        width:35%;
        height:5%;
    }

#header{
    font-family: "Open Sans", Arial, sans-serif;
    text-align: left;
    padding:20px;
}
nav ul {
    list-style-type: none;
   /*margin-top: -20px;
    margin-left: -20px;*/
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
nav li {
    float: left;
}
  
/* Change the link color to #111 (black) on hover */
/*nav li a:hover {
    background-color: #111;
}*/
nav li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}
nav li.dropdown {
    display: inline-block;
    
}
nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
nav .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
nav .dropdown-content a:hover {background-color: #f1f1f1;  }
nav .dropdown:hover .dropdown-content {
    display: block;
    overflow:visible;
    z-index:100;
}


  

.footer{
  padding:5px;
  background-color: #333;
  color:white;
  clear:both;
  text-align:center;

}



/* Slideshow container */
.slideshow-container {
  max-width: 1500px;
  
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 0;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .slprev, .slnext,.text {font-size: 11px}
}
/*.title-content .p{
  font-size:8px;
}*/


